<div class="div-table">
  <div class="div-table-row">
    <div class="div-table-col" align="center"></div>
    <div class="div-table-col" align="center" *ngFor="let month of allMonths">
      {{month}}
    </div>
  </div>
  <div class="div-table-row">
    <div class="div-table-col" align="center">Outage Group</div>
  </div>
  <div class="div-table-row" *ngFor="let data of firstColumn">
    <div class="div-table-col" align="center">{{data}}</div>
    <div class="div-table-col cell" align="center" *ngFor="let month of allMonths"></div>
  </div>
</div>